<section id="user-detail" class="scroll-page bg-white">
  <div class="page-header">
    <h1>ユーザー 一覧</h1>
    <%= search_form_for @q, url: :users do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username_cont, placeholder: '名前' %>
        <br>
        <%= f.submit 'SEARCH' %>
    <% end %>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
          <div class="userindex_name">
            <%= link_to user.username, user %>
          </div>
          <div class="userindex_image">
            <% if user.image.url %>
              <strong>Image:</strong>
              <%= image_tag(user.image.url,:size => "50x50") %>
            <% end %>
          </div>
      <div class="follow_botton">
        <%= render 'follow_form', user: user %>
      </div>
      <% end %>
    <% end %>
    </div>
<%= paginate(@users) %>
