<h1>ユーザー 一覧</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= search_form_for @q, url: :users do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username_cont, placeholder: '名前' %>
          <br>
          <%= f.submit 'SEARCH' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-md-6 event-panel-primary">
            <div class="flex-box">
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <% if user.image.url %>
                      <div class="media-object">
                        <%= image_tag(user.image.url,:size => "75x75") %>
                      </div>
                    <% end %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= link_to user.username, user %></h4>
                      <% if user != current_user %>
                        <%= render 'follow_form', user: user %>
                      <% end %>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      <% end %>
    </div>
    <div class="row pagenate">
      <%= paginate(@users) %>
    </div>
  </div>
