<% provide(:title, @user.username) %>
<h1>My page (<%= @user.username %>)</h1>

<div class="container">
  <h1><%= @user.username %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>

<%= link_to "参加するイベント一覧", :controller => 'events', :action => 'list', :id => "join" %>
<%= link_to "企画イベント一覧", :controller => 'events', :action => 'list', :id => "own" %>
<%= link_to "お気に入り一覧", :controller => 'events', :action => 'list', :id => "favorite" %>
