<div class="container">
  <% if @user.id == current_user.id %>
    <h1>あなたの詳細ページ</h1>
    <th><%= link_to 'プロフィール編集', edit_user_registration_path %></th>
    <table>
      <tr>
        <th>メールアドレス</th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th>お名前</th>
        <td><%= current_user.username %></td>
      </tr>
    </table>
  <% else %>
    <h1><%= @user.username %>さんの詳細ページ</h1>
  <% end %>

  <p id="notice"><%= notice %></p>
    <% if @user.image.url %>
      <p><strong>Image:</strong>
         <%= image_tag(@user.image.url,:size => "150x150") %></p>
    <% end %>
      <%= link_to 'Back',root_path %>

</div>

<h3>フォローしているユーザー</h3>
<% @user.following.each do |follow| %>
<tr>
<td><%= link_to follow.username,user_path(follow.id) %></td>
</tr>
  <% end %>
<br>

<h3>フォローされているユーザー</h3>
<% @user.followers.each do |follower| %>
<tr>
<td><%= link_to follower.username,user_path(follower.id) %></td>
</tr>
  <% end %>
<br>

<h3><%= link_to "参加するイベント一覧", :controller => 'events', :action => 'list', :id => "join" %></h3>
<br>
<h3><%= link_to "企画イベント一覧", :controller => 'events', :action => 'list', :id => "own" %></h3>
<br>
<h3><%= link_to "お気に入り一覧", :controller => 'events', :action => 'list', :id => "favorite" %></h3>
