<div class="container">
  <% if @user.id == current_user.id %>
    <h1>あなたの詳細ページ</h1>
    <div class="row_A">
        <div class="col-sm-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              プロフィール
            </div>
            <div class="event_title col-md-12">
              <p>メールアドレス:<%= current_user.email %></p>
            </div>
            <div class="event_title col-md-12">
              <p>お名前:<%= current_user.username %></p>
            </div>
          </div>
        </div>
      <div class="col-md-6">
        <p id="notice"><%= notice %></p>
          <% if @user.image.url %>
            <p><strong>Image:</strong>
               <%= image_tag(@user.image.url,:size => "300x300") %></p>
          <% end %>
      </div>
    </div>
    <div class="row_B">
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            フォローしているユーザー
          </div>
          <% @user.following.each do |follow| %>
            <tr>
              <% if follow.image.url %>
                <td><%= image_tag(follow.image.url,:size => "75x75") %></td>
              <% end %>
              <td><%= link_to follow.username,user_path(follow.id) %></td>
            </tr>
          <% end %>
          <br>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            フォローされているユーザー
          </div>
          <% @user.followers.each do |follower| %>
            <tr>
              <% if follower.image.url %>
                <td><%= image_tag(follower.image.url,:size => "75x75") %></td>
            　<% end %>
                <td><%= link_to follower.username,user_path(follower.id) %></td>
            </tr>
          <% end %>
          <br>
        </div>
        <div class="row_C">
          <ul>
            <li class="col-md-6"><%= link_to 'プロフィール編集', edit_user_registration_path,class: 'btn btn-info' %></li>
            <li class="col-md-6"><%= link_to "参加するイベント一覧", parthicipation_events_events_path, class: 'btn btn-info' %></li
            <li class="col-md-6"><%= link_to "企画イベント一覧", current_user_events_events_path, class: 'btn btn-info' %></li>
            <li class="col-md-6"><%= link_to "お気に入り一覧", favorite_events_path, class: 'btn btn-info' %></li>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
    <h1><%= @user.username %>さんの詳細ページ</h1>
  <% end %>

  <br>
</div>
