<%= form_with(model: @event,local: true, url: choose_new_or_edit) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= @event.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="envent_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="event_title">
    <%= form.label :time %>
    <%= form.datetime_field :time %>
  </div>

   <div class="event_title">
      <%= form.label :place %>
      <%= form.text_field :place %>
   </div>

   <div class="event_title">
     <%= form.label :capacity %>
     <%= form.number_field :capacity %>
   </div>

    <div class="event_title">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>

    <div class="event_title">
      <%= form.label :image %>
      <%= image_tag(@event.image.url,:size => "100x100") if @event.image.url %>
      <%= form.file_field :image %>
    </div>


    <%= form.submit %>

  <% end %>

  <%= link_to "イベント一覧",events_path %>
