<div class="container">
  <h1><%= @index_title %></h1>
    <div class="new-event">
      <%= link_to 'イベント新規作成',new_event_path,class: 'btn btn-primary' %>
    </div>
    <div class="row event-serch">
      <% if params[:id] == nil %>
        <%= search_form_for @q do |f| %>
          <%= f.label :検索 %>
          <%= f.text_field :title_or_place_cont, placeholder: 'イベント名or開催地' %>
          <%= f.submit 'SEARCH' %>
        <% end %>
      <% end %>
    </div>
    <div class="contents">
      <div class="row center-block" >
        <% @events.each do |event| %>
          <div class="card-deck col-sm-6 col-md-4" >
            <div class="card img-thumbnail">
              <%= link_to event,class: "event_link" do %>
                <% if event.image.url %>
                  <%= image_tag(event.image.url,:size => "250x250",class: "card-img-top") %>
                <% end %>
                <div class="card-body">
                  <% if event.time <= Time.now %>
                    <h4 class="card-title">タイトル：<%= event.title.truncate(20) %></h4>
                    <h4 class="alert alert-warning">このイベントは終了致しました</h4>
                  <% else %>
                    <h4 class="card-title">タイトル：<%= event.title.truncate(20) %></h4>
                    <hr>
                    <strong><p class="card-text"><%= event.time%></p></strong>
                    <h4><%= event.user.username %></h4>
                  <% end %>
                </div>
              <% end %>
              <% if current_user.present? %>
                <%= link_to "詳細確認",event_path(event.id),class: 'btn btn-default' %>
                <% if current_user.id == event.user_id %>
                  <%= link_to "編集",edit_event_path(event.id), class: 'btn btn-info' %>
                  <%= link_to '削除する',event_path(event.id), data: {confirm: "本当に削除していいんですか？"}, method: :delete,class: 'btn btn-danger'%>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row pagenate">
      <%= paginate(@events) %>
    </div>
</div>
