<h1>イベント詳細画面</h1>

<p>タイトル: <%= @event.title %></p>
<p>開催日時: <%= @event.time %></p>
<p>終了日時: <%= @event.endtime %></p>
<p>場所: <%= @event.place %></p>
<p>定員: <%= @event.capacity %></p>
<p>内容: <%= @event.content %></p>
<p id="notice"><%= notice %></p>
<% if @event.image.url %>
<p><strong>Image:</strong>
<%= image_tag(@event.image.url,:size => "150x150") %></p>
<% end %>

<% unless @event.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <% if @participation.present? %>
    <%= link_to 'イベントをキャンセルする', participation_path(id: @participation.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'イベントに参加する', participations_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<br>
<%= link_to "イベント一覧",events_path %>
